<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd">

		
	<context:property-placeholder location="classpath:jdbc.properties" />
	
	<!-- データベース -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="minIdle" value="${jdbc.minIdle}"></property>
        <property name="maxIdle" value="${jdbc.maxIdle}"></property>
        <property name="maxWait" value="${jdbc.maxWait}"></property>
        <property name="maxActive" value="${jdbc.maxActive}"></property>
        <property name="initialSize" value="${jdbc.initialSize}"></property>
        <property name="validationQuery" value="SELECT 1 FROM DUAL"></property>
        <property name="testOnBorrow" value="true" ></property>
        <property name="testWhileIdle" value="true" ></property>
        <property name="timeBetweenEvictionRunsMillis" value="60000" ></property>
    </bean>
    
    <!-- =========================sqlserver dataSource end========================= 2-->
	<!-- Web Action -->
    <import resource="applicationContext-action.xml" />
    
    <!-- start add by ka 20140807 -->
    <!--使用基于注解方式配置事务 -->
<!-- 	<tx:annotation-driven transaction-manager="txManager"/> -->
	<!-- end add by ka 20140807 -->
 
</beans>
